<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NextLinks | Reset Password </title>

	<!-- css -->
	<link href="https://fonts.googleapis.com/css?family=Signika:300,400,600,700" rel="stylesheet">
	<link href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="../bootstrap-3.3.7-dist/css/bootstrap-theme.min.css"  rel="stylesheet" type="text/css"/>
	<link href="../css/style.css"  rel="stylesheet" type="text/css"/>

	<!-- js -->
	<script xmlns="http://www.w3.org/2000/svg" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript"></script>
</head>

<body>
	<div class="main-model-page">
		<div class="model-content">
			<div class="main-form-div animate">
				<div class="logo-div">
					<img src="../images/logowitharrow.png">
				</div>
    			<h4>
    				Reset Your Password
    			</h4>
				<form action="/reset/<%= token %>" method="post">
					<div class="input-field f-table">
						<span class="icon-s"><img src="../images/key.png"></span>
						<span class="input-s">
							<input type="password" class="form-input" placeholder="Enter your password " name="password" value="<%= (formData) ? formData.password : '' %>">
							<span class="error">
	    						<%= (error)&&(error.password) ? error.password : '' %>
	    					</span> 
						</span>
						
					</div>
					<div class="input-field f-table">
						<span class="icon-s"><img src="../images/key.png"></span>
						<span class="input-s">
							<input type="password" class="form-input" placeholder="Enter your Confirm password " name="confirmpassword" value="<%= (formData) ? formData.confirmpassword : '' %>">
							<span class="error">
	    						<%= (error)&&(error.confirmpassword) ? error.confirmpassword : '' %>
	    					</span> 
						</span>
						
					</div>
					<div class="login-button">
						<input type="submit" class="login-b" value="Reset Password">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
